
.CardList {
  background-color: white;
  position: relative;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  $arrowSize: 20px;
  $borderSize: 5px;

  &:before {
    position: absolute;
    bottom: -$arrowSize + $borderSize;
    left: 50%;
    right: 50%;
    width: 0;
    height: 0;
    display: none;
    content: "";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
    transform: translate(-50%, 0);
    border-top-color: $brand-secondary;
    border-width: $arrowSize;
    transition: transform 0.3s $card-transition-delay - 0.2s ease;
  }

  &.is-selected {
    z-index: 5;

    &:before {
      display: block;
      transform: translate(-50%, $arrowSize + $borderSize);
      transition-delay: 0.2s;
    }

    .CardList-wrapper {
      border-color: $brand-secondary;
      transition-delay: 0s, 0s;
    }

    .CardList-summary {
      background-color: $brand-secondary;
      color: white;
      padding-bottom: rem-calc(30);
      transition-delay: 0s, 0s, 0s;
    }

    .CardList-summary-title {
      color: white;
      transition-delay: 0s, 0s;

      a {
        color: white;
        transition-delay: 0s, 0s;

        &:hover {
          color: white;
          cursor: text;
          text-decoration: none;
        }
      }
    }

    .Icon {
      * {
        @include icon-color(white);
        transition-delay: 0s, 0s;
      }
    }
  }}

.CardList-wrapper {
  display: flex;

  @include media-breakpoint-only(xs) {
    flex-wrap: wrap;
  }
}

.CardList-media {
  position: relative;
  cursor: pointer;
  display: flex;

  @include media-breakpoint-only(xs) {
    width: 100%;
  }

  @include media-breakpoint-up(sm) {
    flex: 2;
    max-width: rem-calc(320);

    .CardList-actions {
      display: none;
    }
  }
}

.CardList-media-image {
  width: 100%;
  object-fit: cover;
}

.CardList-label {
  position: absolute;
  top: 0;
  right: 0;
  font-size: rem-calc(12);
}

.CardList-actions {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  max-height: rem-calc(50);
}

.CardList-summary {
  position: relative;
  padding: $grid-gutter-width / 2;

  @include media-breakpoint-only(xs) {
    .CardList-actions {
      display: none;
    }
  }

  @include media-breakpoint-up(sm) {
    flex: 3;
    padding-bottom: rem-calc(50) + $grid-gutter-width / 2;
  }

  @include media-breakpoint-up(md) {
    padding-top: rem-calc(32);
    padding-left: rem-calc(20);
  }
}

.CardList-summary-title {
  font-size: rem-calc(30);
  font-weight: $text-light;
  color: $brand-primary;
  cursor: pointer;
}

.CardList-summary-description {
  @include media-breakpoint-up(sm) {
    max-width: rem-calc(650);
    flex: 1;
  }
}

.CardList-summary-offerings {
  margin-bottom: 0;

  @include media-breakpoint-up(sm) {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    display: initial;
  }
}

.CardList-summary-offering {
  font-size: rem-calc(12);
  line-height: rem-calc(14);
  max-width: rem-calc(80);
  margin-right: rem-calc(20);

  @include media-breakpoint-up(lg) {
    margin-right: rem-calc(40);
  }

  .IconLabel-label {
    font-weight: $text-regular;
  }

  .Icon {
    @include icon-size(rem-calc(44));
  }
}

.CardList-price {
  background-color: rgba($body-color, 0.9);
  color: white;
  display: inline-block;
  font-size: rem-calc(24);
  font-weight: $text-light;
  padding: rem-calc(0 20 6 20);
  text-align: center;

  &-title {
    line-height: 1;
  }

  &-surtitle,
  &-subtitle {
    text-transform: uppercase;
    opacity: 0.5;
    font-size: rem-calc(10);
  }
}
