<section class="Confirmation-section">
  <div class="Confirmation-subSection">
    <div class="Confirmation-pageTitle"><h1 class="Section-displayTitle">Your Reservation</h1><a class="" href="javascript:void(0)">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="injected-svg js-svg-inject Icon" x="0px" y="0px" width="15.025px" height="15.024px" viewBox="0 0 15.025 15.024" xml:space="preserve" data-src="./assets/images/icons/share.svg">
<title>Share Icon</title>
<g>
	<polyline class="Icon-property--stroke" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="   13.133,7.491 13.133,14.024 1,14.024 1,1.892 7.533,1.892"></polyline>
	<g>
		<polyline class="Icon-property--stroke" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="    10.292,1 14.025,1 14.025,4.733"></polyline>
		<line class="Icon-property--stroke" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="7.426" y1="7.599" x2="14.025" y2="1"></line>
	</g>
</g>
</svg>
      Share</a></div>
    <div class="Confirmation-number"><h6 class="u-textCollapse u-textParagraphLeading">Confirmation Number:</h6>
      <div><strong>#123456789</strong></div>
      <div><strong>#987654321</strong></div>
    </div>
    <div id="accordion" class="js-accordion collapse in" role="tablist" aria-multiselectable="true" aria-expanded="true">
      <div class="panel panel-default Panel Panel--link">
        <div id="price-0" class="panel-heading" role="tab">
          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" ng-click="toggleCofirmView()" aria-expanded="false"
                                     aria-controls="price-collapse-0">
            <svg xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="Icon injected-svg js-svg-inject expanded-arrow" x="0px"
                 y="0px" width="10px" height="10px" viewBox="0 0 10 6" data-src="./assets/images/icons/chevron-tiny-down.svg">
              <title>Chevron Tiny Down</title>
              <desc>Icon SVG Image</desc>
              <g type="MSPage">
                <g transform="translate(-95.000000, -236.000000)" type="MSArtboardGroup">
                  <g transform="translate(95.000000, 144.000000)" type="MSLayerGroup">
                    <g transform="translate(0.000000, 64.000000)" type="MSShapeGroup">
                      <g transform="translate(0.000000, 22.000000)">
                        <g transform="translate(1.000000, 7.000000)">
                          <path class="Icon-property--stroke" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" d="       M4,3.828l4-3.535"></path>
                          <path class="Icon-property--stroke" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" d="       M4,3.828L0,0.293"></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            The Felipe Grande Villa (4 nights)</a>
            <div class="text-right pull-right">$940.00</div>
          </h4>
        </div>
        <div id="price-collapse-0" class="panel-collapse" uib-collapse="toggleConfirm" role="tabpanel" aria-labelledby="price-0">
          <div class="Panel-collapse-content">
            <table class="Table Table--collapse">
              <tbody>
              <tr>
                <td>Thu, Sep 17 2015</td>
                <td class="text-right">$220.00</td>
              </tr>
              <tr>
                <td>Fri, Sep 18 2015</td>
                <td class="text-right">$220.00</td>
              </tr>
              <tr>
                <td>Sat, Sep 19 2015</td>
                <td class="text-right">$250.00</td>
              </tr>
              <tr>
                <td>Sun, Sep 20 2015</td>
                <td class="text-right">$250.00</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default Panel Panel--link">
        <div id="price-1" class="panel-heading" role="tab">
          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" ng-click="toggleCofirmView()" aria-expanded="false"
                                     aria-controls="price-collapse-1">
            <svg xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="Icon injected-svg js-svg-inject expanded-arrow" x="0px"
                 y="0px" width="10px" height="10px" viewBox="0 0 10 6" data-src="./assets/images/icons/chevron-tiny-down.svg">
              <title>Chevron Tiny Down</title>
              <desc>Icon SVG Image</desc>
              <g type="MSPage">
                <g transform="translate(-95.000000, -236.000000)" type="MSArtboardGroup">
                  <g transform="translate(95.000000, 144.000000)" type="MSLayerGroup">
                    <g transform="translate(0.000000, 64.000000)" type="MSShapeGroup">
                      <g transform="translate(0.000000, 22.000000)">
                        <g transform="translate(1.000000, 7.000000)">
                          <path class="Icon-property--stroke" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" d="       M4,3.828l4-3.535"></path>
                          <path class="Icon-property--stroke" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" d="       M4,3.828L0,0.293"></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            Zen Standard (4 nights)</a>
            <div class="text-right pull-right">$640.00</div>
          </h4>
        </div>
        <div id="price-collapse-1" class="panel-collapse" uib-collapse="toggleConfirm" role="tabpanel" aria-labelledby="price-1">
          <div class="Panel-collapse-content">
            <table class="Table Table--collapse">
              <tbody>
              <tr>
                <td>Thu, Sep 17 2015</td>
                <td class="text-right">$145.00</td>
              </tr>
              <tr>
                <td>Fri, Sep 18 2015</td>
                <td class="text-right">$145.00</td>
              </tr>
              <tr>
                <td>Sat, Sep 19 2015</td>
                <td class="text-right">$175.00</td>
              </tr>
              <tr>
                <td>Sun, Sep 20 2015</td>
                <td class="text-right">$175.00</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default Panel Panel--link">
        <div id="price-2" class="panel-heading" role="tab">
          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" ng-click="toggleCofirmView()" aria-expanded="false"
                                     aria-controls="price-collapse-2">
            <svg xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="Icon injected-svg js-svg-inject expanded-arrow" x="0px"
                 y="0px" width="10px" height="10px" viewBox="0 0 10 6" data-src="./assets/images/icons/chevron-tiny-down.svg">
              <title>Chevron Tiny Down</title>
              <desc>Icon SVG Image</desc>
              <g type="MSPage">
                <g transform="translate(-95.000000, -236.000000)" type="MSArtboardGroup">
                  <g transform="translate(95.000000, 144.000000)" type="MSLayerGroup">
                    <g transform="translate(0.000000, 64.000000)" type="MSShapeGroup">
                      <g transform="translate(0.000000, 22.000000)">
                        <g transform="translate(1.000000, 7.000000)">
                          <path class="Icon-property--stroke" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" d="       M4,3.828l4-3.535"></path>
                          <path class="Icon-property--stroke" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" d="       M4,3.828L0,0.293"></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            Breakfast (1 day, 6 people)</a>
            <div class="text-right pull-right">$120.00</div>
          </h4>
        </div>
        <div id="price-collapse-2" class="panel-collapse" uib-collapse="toggleConfirm" role="tabpanel" aria-labelledby="price-2">
          <div class="Panel-collapse-content">
            <table class="Table Table--collapse">
              <tbody>
              <tr>
                <td>Thu, Sep 17 2015</td>
                <td class="text-right">$120.00</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="Receipt-footer">
      <table class="Table">
        <tbody>
        <tr>
          <td>Code: FallSpecial2015 <a class="Checkout-xButton" href="javascript:void(0)" title="Remove this special request."></a></td>
          <td class="text-right">-$100</td>
        </tr>
        </tbody>
      </table>
      <table class="Table">
        <tbody>
        <tr>
          <td>Taxes</td>
          <td class="text-right">$170.00</td>
        </tr>
        <tr>
          <td>Resort Fees</td>
          <td class="text-right">$50.00</td>
        </tr>
        <tr>
          <td><b>Total</b></td>
          <td class="text-right"><b>$1,820.00</b></td>
        </tr>
        </tbody>
      </table>
    </div>
    <h6 class="u-textCollapse u-textParagraphLeading">Special Request:</h6>
    <p class="u-textRegular">I would like a room on a higher floor.</p>
    <div class="Confirmation-cancellation"><h6 class="u-textCollapse u-textParagraphLeading">Cancellation Policy:</h6>Reservations must be
      cancelled 3 days prior to arrival. For more information on our cancellation policy, see <a href="#">Terms &amp; Conditions</a>.
    </div>
  </div>
  <div class="Confirmation-subSection"><h1 class="Section-displayTitle">Guest Information</h1>
    <address>{{myReservation.resGuests[0].profiles[0].customer.surName}}
      {{myReservation.resGuests[0].profiles[0].customer.givenName}}<br>
      {{myReservation.resGuests[0].profiles[0].customer.emails[0].email}}<br>
      {{myReservation.resGuests[0].profiles[0].customer.telephones[0].phoneNumber}}<br>
      {{myReservation.resGuests[0].profiles[0].customer.address[0].countryCode}}<br></address>
  </div>
  <div class="Confirmation-subSection"><h1 class="Section-displayTitle">Payment Method</h1>
    <div>Visa ending in {{myReservation.lastFour}}</div>
  </div>
</section>